{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/predict.css' %}">
    <title>URL Prediction</title>
</head>
<body>

    <nav id="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'predict_url' %}">Predict</a></li>
            <li><a href="{% url 'history_view' %}">History</a></li>
        </ul>
        {% if user.is_authenticated %}
        <div class="auth-buttons">
            <form action="{% url 'signout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Sign Out</button>
            </form>
        </div>
        {% endif %}
    </nav>

    <main class="container">
        <header>
            <h1>URL Prediction</h1>
            <p>Predict the type of URL to determine its safety.</p>
        </header>

        <section class="form-section">
            <form method="post">
                {% csrf_token %}
                <label for="url">Enter URL:</label>
                {{ form.url }}
                <button type="submit" class="btn-submit">Predict</button>
            </form>

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </section>

        {% if url and predicted_label %}
        <section class="result-section {% if predicted_label == 'benign' %}safe-background{% else %}unsafe-background{% endif %}">
            <h2>Prediction Result</h2>
            <p><strong>URL:</strong> {{ url }}</p>
            <p><strong>Predicted Label:</strong> {{ predicted_label }}</p>

            {% if predicted_label == 'benign' %}
                <p class="safe">The above URL is Safe to Browse</p>
                <a href="{{ url }}" target="_blank" class="btn safe-btn">Continue</a>
            {% else %}
                <p class="unsafe">The above URL is Not Safe to Browse</p>
                <a href="{{ url }}" target="_blank" class="btn unsafe-btn">Proceed with Caution</a>
            {% endif %}
            
        </section>
        {% endif %}
    </main>

    <script>
        // Show Django messages for 5 seconds
        var messagesPopup = document.getElementById("messages");
        if (messagesPopup) {
            messagesPopup.style.display = "block";
            setTimeout(function() {
                messagesPopup.style.display = "none";
            }, 5000); // 5000 milliseconds = 5 seconds
        }
    </script>

</body>
</html>
